In [1]:
import pandas as pd

In [2]:
import os

In [3]:
%pwd

'c:\\code\\ML\\e-commerce\\research'

In [4]:
os.chdir("../")

In [5]:
%pwd

'c:\\code\\ML\\e-commerce'

In [6]:
df = pd.read_excel("artifacts\data_ingestion\online_retail.xlsx")

In [7]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [8]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [9]:
df = df.dropna(subset=['CustomerID'])

In [10]:
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [11]:
df = df.drop(['Description','Country'],axis = 1 )

In [12]:
df['CustomerID'] = df['CustomerID'].astype(dtype=str)
df = df.reset_index(drop=True)

In [13]:
df.head()

  InvoiceNo StockCode  Quantity         InvoiceDate  UnitPrice CustomerID
0    536365    85123A         6 2010-12-01 08:26:00       2.55    17850.0
1    536365     71053         6 2010-12-01 08:26:00       3.39    17850.0
2    536365    84406B         8 2010-12-01 08:26:00       2.75    17850.0
3    536365    84029G         6 2010-12-01 08:26:00       3.39    17850.0
4    536365    84029E         6 2010-12-01 08:26:00       3.39    17850.0

In [14]:
import datetime

In [15]:
df_cleaned = pd.read_csv("artifacts/cleaned_data/pre_processed.csv")

In [16]:
df_cleaned

,InvoiceNo,StockCode,Quantity,InvoiceDate,UnitPrice,CustomerID
0,536365,85123A,6,2010-12-01 08:26:00,2.55,17850.0
1,536365,71053,6,2010-12-01 08:26:00,3.39,17850.0
2,536365,84406B,8,2010-12-01 08:26:00,2.75,17850.0
3,536365,84029G,6,2010-12-01 08:26:00,3.39,17850.0
4,536365,84029E,6,2010-12-01 08:26:00,3.39,17850.0
...,...,...,...,...,...,...
406824,581587,22613,12,2011-12-09 12:50:00,0.85,12680.0
406825,581587,22899,6,2011-12-09 12:50:00,2.10,12680.0
406826,581587,23254,4,2011-12-09 12:50:00,4.15,12680.0
406827,581587,23255,4,2011-12-09 12:50:00,4.15,12680.0
406828,581587,22138,3,2011-12-09 12:50:00,4.95,12680.0

In [ ]:
df_cleaned